.block {
  margin-top: 2rem;
  width: 100%;
  height: 30rem;
  background-color: rgb(255, 255, 255);
  position: relative;
  text-align: center;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

hr {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.block-title {
  text-align: left;
  font-size: 24px;
  font-weight: bold;
  color: rgb(18, 159, 202);
  padding: 0.5rem 1rem;
}

.block-content {
  margin: 0 0.5rem;
  height: 22rem;
}

.gradient-button {
  width: 14rem;
  height: 2.5rem;
  margin-top: 1rem;
  font-weight: bold;
  color: black;
  background: white;

  border-radius: 2rem;
  border: solid 3px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #ffac4d, #ff5448);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #fff inset;
}

.gradient-button:hover {
  color: white;
  box-shadow: none;
}

.block-item {
  float: left;
  margin-left: 0.5rem;
  width: 19.2%;
  height: 22rem;
}
