.breadcrumb-bar {
  width: 100%;
  height: fit-content;
}

.stack {
  margin-left: 1rem;
  height: 2.4rem;
  float: left;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.link-bread {
  text-transform: capitalize;
}