.login-page {
  margin: 0 -10rem;
  width: 100vw;
  height: 100vh;
  background-color: rgb(36, 53, 61);
}

.login-page .left-block {
  float: left;
  width: 40%;
  height: inherit;
  display: flex;
  justify-content: center;
  flex-direction: column; 
}

.login-page .right-block {
  float: right;
  width: 60%;
  height: inherit;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login-page .logo-box {
  display: block;
  padding: 1rem;
  width: 25rem;
  height: 9rem;
}

.login-page .logo-box img {
  width: inherit;
  height: inherit;
}

.register-form {
  display: block;
  margin: 2rem auto;
  width: 35rem;
  height: 40rem;
  background-color: white;
  text-align: center;

  border-radius: 0.5rem;
}

.register-form h2 {
  font-weight: bold;
  padding: 1rem;
  color: rgb(219, 106, 14);
}

.register-form .input {
  width: 80%;
  margin: 1rem 0;
}

.register-form .btn-submit {
  display: block;
  width: 15rem;
  height: 2.6rem;
  margin: 2rem auto;
  background-color: rgb(221, 119, 36);
}

.register-form .btn-register {
  display: block;
  margin: 0 auto;
  width: 10rem;
  border: 2px solid rgb(48, 137, 238);
}

.register-form a {
  text-decoration: none;
}
