.footer {
  float: left;
  margin: 0 -10rem;
  margin-top: 1rem;
  width: 100vw;
  height: 25rem;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.row {
  margin: 0 10rem;
}

.about-us img {
  padding-top: 2rem;
  width: 50%;
  cursor: pointer;
}

.about-us p {
  font-size: 14px;
  padding-top: 0.5rem;
  color: rgb(83, 83, 83);
}

.about-us span {
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  color: #1bb11b;
}

.about-us .app {
  width: 30%;
  margin-right: 2rem;
}

.menu {
  text-align: left;
  font-size: 15px;
  margin-top: 4rem;
}

.menu h6 {
  font-weight: bold;
}

.menu ul {
  color: rgb(83, 83, 83);
  list-style: none;
  display: inline;
  line-height: 35px;
  cursor: pointer;
}

.menu p {
  padding-top: 2rem;
  color: rgb(83, 83, 83);
  line-height: 28px;
}

.contacts {
  font-size: 25px;
  position: relative;
  width: inherit;
  height: 2rem;
}

.contacts i {
  display: inline-block;
  margin-right: 1rem;
  color: rgb(75, 75, 75);
  cursor: pointer;
}
