.banner {
  padding-top: 2rem;
  width: 100%;
  height: max-content;
  display: grid;
  grid-template-columns: 40% 30% 30%;
  grid-template-rows: 16rem 10rem;
}

.left-side {
  grid-column: 1/2;
  grid-row: 1/3;
  margin: 0.1rem;
  display: block;
  background-color: rgb(31, 176, 233);
}

.top-right-side {
  grid-column: 2/4;
  margin: 0.1rem;
  display: block;
  background-color: rgb(241, 181, 91);
}

.bot-right-side {
  grid-column: 2/3;
  margin: 0.1rem;
  display: block;
  background-color: rgb(241, 181, 91);
}

.bot-left-side {
  grid-column: 3/4;
  margin: 0.1rem;
  display: block;
  background-color: rgb(241, 181, 91) ;
}
