.products-grid {
  float: right;
  display: inline-block;
  margin-top: 1rem;
  margin-left: auto;

  width: 73%;
  height: max-content;
  background-color: white;
  border: 1px solid rgb(233, 233, 233);
  border-radius: 3px;
}

.product-item {
  display: block;
  float: left;
  margin: 0.2rem;
  width: 24%;
  height: 21rem;
}

.pagination-custom {
  clear: both;
  display: block;
  width: 100%;
  height: 4rem;
  position: relative;
}

#page-numbers {
  position: absolute;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 1rem 0;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

#page-numbers > li {
  color: rgb(62, 140, 204);
  user-select: none;
  cursor: pointer;
  margin: 0 3px;
  padding: 0 5px;
  border: 1px solid #24353d;
  text-align: center;
  border-radius: 2px;
}

#page-numbers > li:not(.active):hover {
  background: rgb(62, 140, 204);
  color: white;
}

#page-numbers > li.active {
  border-color: #24353d;
  color: white;
  background: #f97447;
  cursor: default;
}
