.header {
    clear: both;
    margin: 0 -10rem;
    padding: 0.4rem 10rem;
    height: 4rem;
    background-color: rgb(36,53,61);
}

#logo {
    width: 10rem;
    height: 100%;
}

#search-bar {
    margin: 0.5rem 0rem 0.5rem 2rem;
    max-width: 45rem;
    display: inline-block;
}


/* Xu ly thanh tim kiem */
.search-btn {
    margin: 0.6rem 0rem 0.6rem -4rem;
    background-color: white;
    border: none;
    display: inline-block;
    color: rgb(28,36,57);
}

.search-btn:hover{
    color: rgb(247, 161, 34);
}


/* Xu ly menu icon */
.menu-icon {
    margin-left: 2rem;
    color: white;
    font-size: 25px;
}

.menu-icon:hover{
    color: rgb(249,116,71);
    background-color: rgb(36,53,61); 
}

#notification {
    margin-left: 5rem;
}

#login {
    display: inline-block;
    float: right;
    margin-right: 1rem;
    text-decoration: none;
    text-align: center;
}

span {
    display: block;
    font-size: 12px;
}