.block-details {
  clear: both;
  margin-top: 3rem;
  width: 100%;
  height: 33rem;
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.block-details .row {
  margin: 0 0;
  width: 100%;
  height: inherit;
}

.product-img {
  width: 100%;
  height: 28rem;
  text-align: center;
}

.product-img img {
  padding: 1rem 0;
  width: auto;
  height: inherit;
}

.order-btn Button {
  width: 45%;
  height: 2.8rem;
  margin: 1rem 0.5rem;
  background: #c92127;
  font-weight: bold;
}

Button#add-cart {
  color: #c92127;
  background: white;
  border: 2px solid #c92127;
}

Button#buy {
  background: #ff5f15;
}

.product-content .title {
  padding-top: 1rem;
  text-transform: capitalize;
}

.product-content .rate-bar {
  font-size: 19px;
}

.rate-bar .total {
  color: rgb(139, 139, 139);
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.product-content .content {
  padding-top: 1rem;
  width: 100%;
  height: max-content;
}

.product-content .content #label {
  clear: both;
  line-height: 2;
  float: left;
  font-size: 14px;
}

.product-content .content #value {
  float: left;
  line-height: 2;
  margin-left: 1em;
  font-size: 14px;
  font-weight: bold;
}

.product-content .content .price {
  padding: 1rem 0;
  color: #c92127;
  font-weight: bold;
}

.product-content .content .discount {
  margin: 1.5rem;
  font-weight: bold;
  color: white;
  background: #c92127;
  width: fit-content;
  height: fit-content;
  border-radius: 3px;
  padding: 0.3rem;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

.product-content .content .old-price {
  color: #8f8e8e;
  font-weight: bold;
  text-decoration: line-through;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

.product-content .content h6 {
  clear: both;
  display: inline-block;
  color: #7a7a7a;
}

.product-content .content .address {
  display: inline-block;
  color: black;
  line-height: 2;
  margin-left: 1rem;
  font-weight: bold;
}

.product-content .content .quantity {
  display: inline-block;
  margin-top: 1rem;
  margin-left: 1rem;
  width: 7rem;
  height: 2rem;
}

/* block-information */
.block-infor {
  clear: both;
  margin-top: 1rem;
  width: 100%;
  height: max-content;
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}


.block-infor h4 {
  padding: 1rem;
}

col {
  width: 20%;
}

.block-infor th {
  font-weight: normal;
  color: #5f5f5f;
  padding-left: 1rem;
  line-height: 2.5rem;
}

.block-infor td {
  font-weight: bold;
}

hr#horizontal {
  background-color: rgba(194, 194, 194, 0.534);
  width: 98%;
  margin: 1rem auto;
}

.text {
  font-size: 15px;
  padding: 0.5rem 1rem;
}
