.left-bar {
  float: left;
  width: 27%;
  height: 30rem;
  margin-top: 1rem;
  background-color: white;
}

.left-bar h4 {
  color: rgb(230, 101, 15);
  padding: 1rem;
}

.left-bar a {
  text-decoration: none;
  color: rgb(131, 131, 131);
}

.left-bar h6 {
  padding: 0.3rem 1rem;
}

.left-bar hr {
  width: 90%;
}

.left-bar #id-focus {
  color: black;
}
